.Profile-container {
    width: 50%;
    margin: 10px auto;
}

.Profile-avatar {
    width: 150px;
    border-radius: 147px;
    background: linear-gradient(145deg, #7c7878, #948e8e);
    box-shadow: 5px 5px 10px #747070,
        -5px -5px 10px #a09a9a;
}

.Profile-container>ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.Profile-container>ul>li {
    display: flex;
    justify-content: space-between;
}